<div class="oj-hybrid-padding">
  <b>Accounts</b>
  <oj-table
    id="table"
    aria-label="Departments Table"
    accessibility.row-header="depName"
    data="[[dataprovider]]"
    selection-mode='{"row": "multiple", "column": "multiple"}'
    dnd='{"reorder": {"columns": "enabled"}}'
    scroll-policy="loadMoreOnScroll"
    scroll-policy-options='{"fetchSize": 10}'
    columns='[{"headerText": "Account Id", 
             "field": "accountId",
             "headerClassName": "oj-sm-only-hide",
             "className": "oj-sm-only-hide",
             "resizable": "enabled",
             "id": "accId"},
            {"headerText": "Type", 
             "field": "accountType",
             "resizable": "enabled",
             "id": "accType"},
            {"headerText": "Balance", 
             "field": "accountBalance",
             "headerClassName": "oj-sm-only-hide",
             "className": "oj-sm-only-hide",
             "resizable": "enabled",
             "id": "accBalance"},
            {"headerText": "Status", 
             "field": "accountStatus",
             "headerClassName": "oj-md-down-hide",
             "className": "oj-md-down-hide",
             "resizable": "enabled",
             "id": "accStatus"},
             {"headerText": "Overdraft", 
             "field": "overdraftAmount",
             "headerClassName": "oj-md-down-hide",
             "className": "oj-md-down-hide",
             "resizable": "enabled",
             "id": "overdraft"}]'
    class="demo-table-container"
  ></oj-table>
  <oj-c-button
    id="button3"
    on-oj-action="[[accountAction]]"
    label="New Account"
  ></oj-c-button>
</div>
